services:
  web:
    build: ./docker/web
    volumes:
      - .:/srv/ticket-sales.com
    ports:
      - "8080:80"
      - "5173:5173"
    command: /srv/ticket-sales.com/docker/web/start.sh
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      APP_ENV: "local"
    depends_on:
      composer:
        condition: service_completed_successfully

  composer:
    build: ./docker/composer
    volumes:
      - .:/srv/ticket-sales.com
    command: "/srv/ticket-sales.com/docker/composer/start.sh /srv/ticket-sales.com"