services:
  web:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    volumes:
      - .:/srv/ticket-sales.com
    ports:
      - "8080:80"
      - "5173:5173"
    command: bash -c "chmod 755 /srv/ticket-sales.com/docker/web/start.sh &&
             /srv/ticket-sales.com/docker/web/start.sh"
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      APP_ENV: "local"
      LARAVEL_ENV_ENCRYPTION_KEY: "base64:4Dy9ZtHXIT3usjNI0t+PEm7hOPMg6LulhGwyo0X3KPs="
      IS_NPM_BUILT: ${IS_NPM_BUILT:-0}
    depends_on:
      composer:
        condition: service_completed_successfully
      db:
        condition: service_healthy

  composer:
    build: ./docker/composer
    volumes:
      - .:/srv/ticket-sales.com
    command: bash -c "chmod 755 /srv/ticket-sales.com/docker/composer/start.sh &&
             /srv/ticket-sales.com/docker/composer/start.sh /srv/ticket-sales.com"

  db:
    build: ./docker/db
    volumes:
      - ./docker/db/initdb.d:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: ticket_sales
      POSTGRES_PASSWORD: root_password
    healthcheck:
      test: "psql -U user -w -d ticket_sales -c 'select 1;'"
      timeout: 5s
      interval: 5s
      retries: 10

  valkey:
    build: ./docker/valkey

  stripe:
    build: ./docker/stripe
    tty: true
    env_file:
      - .env